@import 'font';
@import 'calendar';
@import 'var';

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Sofia Pro';
  color: white;
}

body {
  background-color: @color-2;
}

p, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.icon.light {
  color: rgba(255, 255, 255, 0.5);
}

.icon {
  cursor: pointer;
}

.btn {
  border: 2px solid rgba(255, 255, 255, 0.5);
  padding: 3px 15px;
  border-radius: 2px;
  cursor: pointer;
  color: white;
  margin: 0 3px;
  transition: all 0.4s ease;

  &.no-background {
    background-color: transparent;
  }

  &:hover {
    background-color: white;
    color: black;
  }
}

@import 'header';
@import 'container';
@import 'modal';
@import 'daypicker';
