.modal {
  position: fixed;
  right: 10px;
  top: 10px;
  border-radius: 3px;
  background-color: @color-3;
  box-shadow: 2px 3px 4px 6px rgba(0, 0, 0, 0.21),
              4px 6px 11px 13px rgba(0, 0, 0, 0.23);
  padding: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease;
  transform: translateY(-200%);

  .modal-content {
    h4 {
      margin: 10px;
    }
  }

  .modal-footer {
    margin-top: 10px;
  }
}

.modal.active {
  transform: translateY(0);
}
